* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

header,
footer,
nav,
aside {
  display: block;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-size: inherit;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: cornsilk;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

p {
  width: auto;
  overflow-wrap: break-word;
}

header {
  padding: 2em 0;
  width: 100vw;
  background-color: darkorange;
}

h1 {
  margin: 0 auto;
  width: fit-content;
  font-size: 1.5em;
  font-weight: 700;
}

.memes-container {
  margin: 0 auto;
  width: 100vw;
}

.meme {
  border-bottom: 0.1em solid darkorange;
  margin: 0 auto;
  padding: 0 0 0.5em;
}

.meme__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10vw;
  margin: 0;
  padding: 1em;
  height: fit-content;
  font-size: 1em;
  font-weight: 400;
}

.meme__icon {
  width: 1rem;
  height: 1rem;
  background-image: url("../assets/svg/accordion_btn.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
}

.meme__img {
  margin: 0 auto;
  max-width: 100%;
  user-select: none;
}

.meme__content {
  display: flex;
  max-height: 0vh;
  opacity: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: opacity 1s, max-height .6s ease;
}

.meme__content:active .meme__img{
  scale: 0.9;
  filter: blur(0.1rem);
}

input:checked~.meme__label + .meme__content {
  max-height: 100vh;
  opacity: 1;
  transition: opacity 1s, max-height .6s ease;
}

input:checked + .meme__label .meme__icon {
  background-image: url("../assets/svg/accordion_btn_open.svg");
  transition: .6s ease;
}

input:checked + .meme__label h6 {
  color: rgb(198, 109, 0);
  transition: .6s ease;
}